body {
    font-family: 'Crimson Text', serif;
}

/* background images */

.bg-image {
    top: 0;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.bg-image .sea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-image .boat {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.w-key {
    position: absolute;
    height: 55px;
    right: 130px;
    top: 550px;
}

.a-key {
    position: absolute;
    height: 75px;
    right: 181px;
    top: 550px;
}

.s-key {
    position: absolute;
    height: 70px;
    right: 250px;
    top: 550px;
}

.d-key {
    position: absolute;
    height: 70px;
    right: 312px;
    top: 550px;
}

/* header / navbar*/

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}

.navbar-brand {
    margin: auto 10px;
    font-size: 1.5rem;
}

.nav-item {
    font-size: 1.2rem;
    margin: auto 1rem;
}

.hide {
    display: none;
}

/* top content */

.content {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-left: 70px;
}

#info {
    margin-top: 0;
}

.info-text {
    padding-bottom: 25px;
}

/* leaderboard */

#leaderboard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, rgba(1, 0, 66, 20) 40%, transparent);
}

.undersea {
    padding-top: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    opacity: 1;
}

#leaderboard .card {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 5px 5px 10px 10px rgba(102, 102, 240, 2);
}

#leaderboard .card-body {
    padding: 0 0;
    border-bottom: 2px ridge rgba(102, 102, 240, 2) !important;
}

.list-group-item {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(226, 226, 48);
}

.card-footer {
    border-top: 2px ridge rgba(102, 102, 240, 2) !important;
    padding-top: 8px !important;
}

#last {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(8, 178, 255, 70), rgba(33, 29, 57, 30) 70%);
}

/* about */

#about {
    height: 80vh;
    width: 100%;
    padding-top: 8px;
}

/* rgba(21, 97, 210, 0.5) */

#about .card {
    background-color: transparent;
    border: none;
}

#about .card-body {
    padding-left: 0;
    padding-right: 0;
}

#about .card-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    color: yellow;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#about .card-text {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.2rem;
}

/* cards shaking */
.shaking-card {
    position: relative;
    transition: transform 0.5s ease-in-out;
    animation: shake 3s ease-in-out infinite;
}

.shaking-card:hover {
    cursor: default;
    animation-play-state: paused;
}

@keyframes shake {
    0% {
        transform: rotate(0deg) translate(-1px, -1px);
    }

    25% {
        transform: rotate(-1deg) translate(1px, -1px);
    }

    50% {
        transform: rotate(1deg) translate(1px, 1px);
    }

    75% {
        transform: rotate(-1deg) translate(-1px, 1px);
    }

    100% {
        transform: rotate(0deg) translate(-1px, -1px);
    }
}

/* footer */

#footer {
    padding-top: 10px;
}

.profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.name, .mail {
    font-size: 1.15rem;
    color: rgb(246, 153, 116);
}