body {
    font-family: 'Crimson Text', serif;
}

/* background images */

.bg-image {
    top: 0;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.bg-image .sea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-image .boat {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.w-key {
    position: absolute;
    height: 55px;
    right: 130px;
    top: 550px;
}

.a-key {
    position: absolute;
    height: 75px;
    right: 181px;
    top: 550px;
}

.s-key {
    position: absolute;
    height: 70px;
    right: 250px;
    top: 550px;
}

.d-key {
    position: absolute;
    height: 70px;
    right: 312px;
    top: 550px;
}

.bubbles {
    position: absolute;
    height: 55px;
    right: 130px;
    top: 760px;
}

/* header / navbar*/
.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-family: 'Caveat', cursive;
}

#navbarNav {
    margin-bottom: 1rem !important;
}

.nav-item {
    font-size: 1.1rem;
}

.notes-btn:hover {
    background: rgb(209, 209, 209);
    border-radius: 20px;
    color: black !important;
}

.login-btn {
    background: white;
    border-radius: 20px;
    color: black !important;
}

.login-btn:hover {
    background: rgb(209, 209, 209);
}

.hide {
    display: none;
}

/* top content */

.content {
    margin-top: 170px;
    margin-left: 70px;
}

.main-btn {
    background: white;
    color: black;
}

.main-btn:hover {
    background: rgb(209, 209, 209);
}

.info-text {
    position: relative;
    font-family: 'Source Code Pro', monospace;
    width: max-content;

}

/* typewriter effect*/
.info-text::before,
.info-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.info-text::before {
    animation: typewriter 8s steps(28) 2s forwards;
}

.info-text::after {
    width: 0.08em;
    background: white;
    animation: typewriter 8s steps(28) 2s forwards,
        blink 500ms steps(28) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.opac {
    opacity: 0;
}

/* leaderboard */

#leaderboard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, rgba(1, 0, 66, 20) 40%, transparent);
}

.undersea {
    padding-top: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    opacity: 1;
}

#leaderboard .card {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 5px 5px 10px 10px rgba(102, 102, 240, 2);
}

#leaderboard .card-body {
    padding: 0 0;
    border-bottom: 2px ridge rgba(102, 102, 240, 2) !important;
}

.list-group-item {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(226, 226, 48);
}

.card-footer {
    border-top: 2px ridge rgba(102, 102, 240, 2) !important;
    padding-top: 8px !important;
}

#last {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background: linear-gradient(to bottom, rgba(8, 178, 255, 70), rgba(33, 29, 57, 30) 70%);
}

/* features */
.heading {
    background-color: #34159e;
    text-align: center;
    box-shadow: 0 -5px 30px rgba(0, 0, 0, .5);
    
}

.features {
    background: linear-gradient(#0071b1, #02aabb);
}

.features h2 {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    /* text-emphasis: bold !important; */
}

.features p {
    margin-left: 2rem;
    margin-right: 1.5rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 1.5rem;
}

.features .row {
    height: 350px;
}

.img-1,
.img-3 {
    width: 100%;
    border-radius: 20px;
}

.img-2 {
    width: 100%;
    height: 95%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.book-img {
    width: 100%;
    height: 95%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* footer */

#footer {
    padding-top: 10px;
    background-color: #304146;
}

.profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.name,
.mail {
    font-size: 1.15rem;
    color: rgb(246, 153, 116);
}